a{
    color: black;
    
}
a:hover{
    color: grey;
    text-decoration:none ;
}
.social-media{
    float:right;
    margin:10px;
    /* padding:10px; */
    display:flex;
}
.top-nav{
    margin:30px;
    
    
}
.primary-color{
    background-color: #91972A !important;
}

.product-card{
    display: flex;
    background-color:rgba(145, 151, 42, 0.1);
    justify-content: space-between;
}
h1{
    padding:30px;
}
p{
    padding:0px;
}

.primary-light{
    background-color: bisque;


}
.products-card{
    
   
  
    justify-content:space-between;
}
.image-fluid{
    width:100%;
}
.pl-10{
    padding-left:10px;
}

.light-pink{
    background-color:lightpink;
}
.product-item-card{
    display:flex;
    justify-content:space-between;
}
.light-blue{
    background-color:lightskyblue;
}

.bor {
        border-left: 3px solid #91972A;
        padding:10px;  
  }

  .products{
     
      
      border-radius: 50%;
      width:170px;
      height:170px;
      object-fit: cover;
      object-position:center;
  }
.bg-popular{
    background-color:#F6f6f6;
    text-align: center;
}

  
.samplew{
    
    
    margin-left: auto;
    margin-right: auto;
    
    position:relative;
    width:100%;
    max-width: 20% !important;
    display:flex;
    justify-content: space-between;

}

.items{
    /* width:100%; */
    /* object-fit: cover;
    object-position:center; */

}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg{
    position:relative;
    height:300px;
    bottom:8px;
    right:16px;
    width:100%;

    text-align:center;

}

.overlay-div{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-center{
    text-align:center;
}
.left-border{
    border-left:3px solid #91972A;
    padding-left:10px;
}
.sampleq{
    position:absolute;
    float:right;
    width:100%;
    max-width: 10% !important;
    

}
.product-card{
    margin:10px;
}
.prot{
    padding:5px;
   
    width:100%;
    height:auto;
    
    object-fit: cover; 
    object-position:center;


}
.pro{
   
    /* width:100%;
    height:auto; */
    width: 200px;
    height: 200px;
    object-fit: cover; 
    object-position:center;


}
.justify-content-center{
    justify-content: center !important;
}
.product-s{
   
    width:100%;
    height:210px;
    object-fit: cover;
    object-position:center;

}


.product-pt{
    padding:20px;
    margin:7px;
     background-color: grey; 
    /* width:100%; */
    
    object-fit: cover;
    object-position: center;
    align-content: center;
    /* height:200px; */
    padding:3px;
    


}
.div{
    background-color: grey;
}



.product-p{
    background-color:  grey;
    text-align: center;

    height: 200px;
    object-fit: cover;
    object-position: center;
    align-content: center;
    /* height:200px; */
    padding:3px;
    


}

.mb-25 {
    margin-bottom: 25px !important;
}
footer {
   background-color:light grey;
   padding-top: 15px;

  
}
footer ul{
   display:flex;
  
  justify-content: center;
  
  
  color: white;
}
footer ul li{
    padding:10px;
    display: flex;
    justify-content: space-around;
    
}

.items{
    padding:30px;
    
    display:flex;
    justify-content:center;
}

.low-level ul{
    padding:5px;
    list-style-type: none;
    text-align: center;
    margin:10px;
    border-radius: 5px;

}
.low-level ul li{
    display:inline;
}
.low-level ul li a{
    text-decoration: none;
    background-color: grey;
}

.social-icons:hover{
   border: 2px solid blue;
   border-radius: 50%;
/* visibility: hidden; */

}

@media all and (max-width:699px) and (min-width:200px){
    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.box{
    margin:10px;
}
.arrow{
    margin-left: 2px;
}